@inherits LayoutComponentBase
<!-- 
<div class="sidebar">
    <NavMenu />
</div> -->

<div class="main">
    <nav class="d-flex justify-content-between bg-white mb-4 topbar shadow">
      <ul class="nav nav-expand">
        <li class="nav-item ml-3">
          <a class="nav-link active" href="#">TKS Office Ball</a>
        </li>
        <li class="nav-item"></li>
      </ul>
        <LoginDisplay />
    </nav>

    <div class="content px-4">
        @Body
    </div>
</div>
